@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	height: 100%;
	overflow: hidden;
}

#editor {
	height: 90%;
}

#preview {
	min-height: 100%;
	overflow-y: hidden;
}

pre {
	background-color: #f5f5f5;
	color: #090909;
	padding: 10px;
}
